.clear{
    clear: both;
}
body{
    font-family: "iconfont";
    -webkit-user-select: none;
}
@font-face {
    font-family: "iconfont";
    src:url("../fonts/iconfont.ttf");
}
/*小屏header*/
.header{
    width:100%;
    height:50px;
    color: #FFFFFF;
    background: rgba(0,0,0,0.6);
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
/*.header .taggle{*/
    /*font-family: "iconfont";*/
/*}*/
/*清除浮动*/
.header1-box:before,.header1-box:after{
    content: "";
    display: block;
}
.header1-box:after{
    clear: both;
}
/*小屏隐藏部分*/
.header1-box{
    width:100%;
    height:100%;
    display:none;
}
.h1-btn{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    float: left;
    cursor: pointer;
}
.header1-item{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    float: left;
    cursor: pointer;
}
.h1-menu:hover{
    background: #FB5E24;
}
.header2{
    display: none;
}
/*--------------------中、大屏header-------------------*/
@media screen and (min-width: 660px){
    .header1{
        display: none;
    }
    .header2{
        display: block;
    }
    .header2-item{
        width:25%;
        height:100%;
        line-height: 50px;
        float: left;
        cursor: pointer;
    }
    .header2-item:hover{
        background: #FB5E24;
    }
}
/*----------------------内容部分---------------------*/
.content{
    width:100%;
    height:666px;
    /*height:606px;*/
    /*padding-top: 60px;*/
    /*border:1px solid white;*/
    position: relative;
}
/*----------------------about me----------------------------*/
.about{
    background: url("../images/bg1.jpg") no-repeat center;
    background-size: cover;
}
.aboutMe{
    width:100%;
    height:80%;
    background:rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0px;
    left:0;
}
.myPhoto{
    width:200px;
    height:210px;
    /*width:55%;*/
    margin-left:20%;
    border-radius: 50%;
    /*background-size: cover;*/
    transition: all .6s ease;
}
.myPhoto img{
    width:100%;
    height:100%;
    border-radius: 50%;
    /*margin: 10% auto;*/
    margin-left: 30%;
    margin-top: 20%;
}
.messageBox{
    color: #FFFFFF;
    position: absolute;
    bottom: 5%;
}
.messageCon{
    /*width:92%;*/
}
.messageCon h3{
    margin:20px 0;
}
.messageCon p{
    margin: 20px 0;
    line-height: 26px;
}
.messageBox .btn{
    line-height: 30px;
    font-weight: 660;
    padding: 5px 10px;
    border:2px solid #449d44;
    border-radius: 2px;
    cursor: pointer;
}
.messageBox .btn2{
    margin-top: 20px;
}
.messageBox .btn:hover{
    background: #449d44;
}
/*------------------中屏------------------*/
@media screen and (min-width: 660px) {
    .myPhoto{
        width:260px;
        height:260px;
        border-radius: 50%;
        background: url("../images/photo.jpg") no-repeat center -16px;
        background-size: cover;
        position: absolute;
        top: 15%;
        left: 20%;
        transition: all .6s ease;
    }
    .myPhoto img{
        display: none;
    }
    .messageBox{
        position: absolute;
        bottom: 5%;
        /*left: 0%;*/
    }
    .messageBox .btn{
        width:22%;
        height:15%;
        margin-bottom: 10px;
        float: left;
    }
    .messageBox .btn2{
        margin-left: 100px;
        margin-top: 0;
    }
}
/*-------------------大屏------------------*/
@media screen and (min-width: 1100px) {
    .aboutMe{
        height:300px;
        background: rgba(0,0,0,0.6);
        position: absolute;
        bottom:30%;
        left:0;
    }
    .myPhoto{
        width:360px;
        height:360px;
        border-radius: 50%;
        background: url("../images/photo.jpg") no-repeat center -16px;
        background-size: cover;
        position: absolute;
        top: -10%;
        left: -6%;
    }
    .messageBox{
        position: absolute;
        top: 4%;
        right:0%;
    }
    .messageCon{
        width:92%;
        text-align: left;
    }
    .messageBox .btn{
        position: absolute;
        bottom:10%;
        left:20px;
    }
    .messageBox .btn2{
        left: 100px;
    }
}

/*---------------------my skills--------------------------*/
.skills{
    background: #031730;
    overflow: hidden;
}
.skill-box{
    width:100%;
    height:100%;
    position: relative;
}
.skill-title,.skill{
    width: 120px;
    height:120px;
    border:1px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    color: white;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    margin: auto;
}
.skill-title{
    font-size: 22px;
    box-shadow: 10px 10px 60px #ffffff inset;
    cursor: pointer;
}
.skill{
    display:none;
    -webkit-animation: rotateIn1 2s;
}
/*------------------------*/
@-webkit-keyframes rotateIn1{
    0%{
        opacity: 1;
        -webkit-transform:rotateZ(0deg);
    }
    1%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        -webkit-transform:rotateZ(180deg);
    }
    51%{
        opacity: 0;
    }
    100%{
        opacity:1;
        -webkit-transform:rotateZ(360deg);
    }
}
@-webkit-keyframes bounce1{
    0%{
        -webkit-transform:translateY(0px);
    }
    25%{
        -webkit-transform:translateY(-16px);
    }
    50%{
        -webkit-transform:translateY(0px);
    }
    65%{
        -webkit-transform:translateY(10px);
    }
    75%{
        -webkit-transform:translateY(4px);
    }
    85%{
        -webkit-transform:translateY(16px);
    }
    100%{
        -webkit-transform:translateY(0px);
    }
}
/*-------------------------*/
.css{
    top: -260px;
    left: -130px;
}
.html{
    top: -260px;
    left: 130px;
}
.jQuery{
    top: 0;
    left: -300px;
}
.javaScript{
    top: 0;
    left: 300px;
}
.bootstrap{
    top: 260px;
    left: 130px;
}
.less{
    top: 260px;
    left: -130px;
}
.AI{
    top: 220px;
    left: 480px;
}
.PS{
    top: -220px;
    left: -480px;
}
@media screen and (min-width: 660px) {
    .skill-title,.skill{
        width:160px;
        height:160px;
        line-height: 160px;
    }
    .html{
        top: -340px;
        left: -200px;
    }
    .css{
        top: -340px;
        left: 200px;
    }
    .javaScript{
        top: 0;
        left: -400px;
    }
    .jQuery{
        top: 0;
        left: 400px;
    }
    .bootstrap{
        top: 340px;
        left: 200px;
    }
    .less{
        top: 340px;
        left: -200px;
    }
    .PS{
        top: 320px;
        left: 580px;
    }
    .AI{
        top: -320px;
        left: -580px;
    }
}
/*---------------------my portfolios--------------------------*/
.portfolios{
    width:100%;
    height:auto;
    background: #031730;
    position: relative;
    /*overflow: hidden;*/
}
.bigImg{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    border:1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    margin: auto;
    z-index: 999;
    display: none;
}
.bigImg img{
    width: 80%;
    margin: 20% 10% 0;
}
@media screen and (min-width: 660px) {
    .bigImg img{
        width: 70%;
        margin: 12% 15% 0;
    }
}
@media screen and (min-width: 1000px) {
    .bigImg img{
        width: 60%;
        margin: 6% 20% 0;
    }
}
/*---------------all----------------*/
/*.all{*/
    /*padding-top: 60px;*/
/*}*/
.portfolios-menus{
    width:96%;
    /*margin: 20px 0 20px 2%;*/
    margin-left: 20px;
    padding-top: 60px;
}
.portfolios-menu{
    width:18%;
    border-radius: 2px;
    margin-left: 10px;
    border: 1px solid #FFFFFF;
    float: left;
    color: #FFFFFF;
    line-height: 30px;
    cursor: pointer;
}
.portfolios-menu:hover{
    background: #FB5E24;
}
.active{
    border:1px solid orangered;
    background: #FB5E24;
}
.moreWorks{
    width:16%;
    border:1px solid #FFFFFF;
    border-radius: 3px;
    line-height: 30px;
    color: #FFFFFF;
    float: right;
    cursor: pointer;
}
.moreWorks:hover{
    background: #FB5E24;
}
.works{
    margin: 20px 0 0;
}
.portfolios-items{
    width:96%;
    margin: 20px 0 0 2%;
}
.portfolios-item{
    /*width:50%;*/
    float: left;
    margin: 25px 0 20px 0;
    overflow: hidden;
    position: relative;
}
.portfolios-item-mask{
    width:100%;
    height:100%;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.bigImgBtn{
    padding: 1% 2%;
    border:1px solid #FFFFFF;
    color: #FFFFFF;
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: 100;
    cursor: pointer;
}
.bigImgBtn a{
    color: #FFFFFF;
}
.portfolios-item img{
    width:100%;
    border-radius: 50%;
}
.ai-hidden{
    display:none;
}
/*-----------------ai-----------*/
@-webkit-keyframes rollIn1{
    0%{
        opacity: 0;
        -webkit-transform:rotateZ(-120deg);
    }
    100%{
        opacity: 1;
    }
}
/*------------------PS-------------*/
.ps{
    width:100%;
    height:666px;
    padding-top: 30px;
    overflow: hidden;
    background: #070C2C;
}
.portfolio-box{
    width:200%;
    height: 666px;
    /*background: #031730;*/
    background: #070C2C;
    position: absolute;
}
.portfolio{
    width:300px;
    transition: all 0.5s ease;
    position: absolute;
}
.p0{
    width: 10%;
    left: 2%;
    top: 100px;
}
.p1{
    width: 10%;
    left: 2%;
    bottom: 10px;
}
.p2{
    width: 10%;
    left: 52%;
    top: 100px;
}
.p3{
    width: 25%;
    left: 18%;
    top: 0;
}
.p4{
    width: 22%;
    right: 25%;
    bottom: 100px;
}
.p5{
    width: 12%;
    right: 1%;
    top: 80px;
}
.p6{
    width: 12%;
    right: 8%;
    bottom: 80px;
}
.p7{
    width: 15%;
    left: 1%;
    bottom: 180px;
}
.p8{
    width: 12%;
    left: 20%;
    bottom: 80px;
}
@media screen and (min-width: 1000px) {
    .p0{
        display:none;
    }
    .p1{
        width:12%;
    }
    .p2{
        top:10px;
        left: 40%;
    }
    .p3{
        width:20%;
        top:200px;
    }
    .p7{
        bottom: 280px;
    }
    .p8{
        bottom: 60px;
        left:40%;
    }
}
.portfolio img{
    width:100%;
}
/*--------------------contact-----------------------*/
.contact{
    background: #031730;
    position: relative;
}
.contact-con{
    /*width:78%;*/
    width:72%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.img{
    width:100%;
    margin-top: 140px;
    position: relative;
    -webkit-animation: bounceInLeft1 1s;
}
/*-------------------------------*/
@-webkit-keyframes bounceInLeft1{
    0%{
        -webkit-transform:translateX(-1000px);
    }
    50%{
        -webkit-transform:translateX(0px);
    }
    60%{
        -webkit-transform:translateX(-16px);
    }
    70%{
        -webkit-transform:translateX(-4px);
    }
    80%{
        -webkit-transform:translateX(4px);
    }
    90%{
        -webkit-transform:translateX(16px);
    }
    100%{
        -webkit-transform:translateX(0px);
    }
}
/*---------------------------------*/
.img img{
    width:100%;
}
.contact-mes{
    /*width: 60%;*/
    position: absolute;
    top: 38%;
    left: 30%;
    line-height: 50px;
}
/*----------------------------------------*/
.backTop{
    width:50px;
    height: 50px;
    border:1px solid #ffffff;
    border-radius: 50%;
    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 50px;
    position:absolute;
    bottom: 50px;
    right:50px;
    cursor: pointer;
}
.backTop:hover{
    box-shadow: 0px 0px 10px #ffffff inset,-0px -0px 10px #ffffff inset;
}
@media screen and (min-width:660px) and (max-width: 1000px) {
    .contact-con{
        width:65%;
        margin-top: 50px;
    }
    .img{
        margin-top: 60px;
    }
}
@media screen and (min-width: 1000px) {
    .contact-con{
        width: 45%;
        margin-top: 50px;
    }
    .img{
        width:90%;
        margin-top: 80px;
    }
}
/*个人站二维码*/
.erweima{
    width:100px;
    height:100px;
    position: fixed;
    right: -95px;
    bottom: 100px;
    cursor: pointer;
}
.app{
    bottom: 300px;
}
.erweima img{
    width:100%;
}
@media screen and (min-width: 700px) {
    .erweima{
        width:160px;
        height:160px;
        right:-155px;
    }
}